a  {
   text-decoration: none;
   color: #000000;
}

a ins  {
   text-decoration: none;
}

#ftrnav3button a:hover,
#ftrnav4button a:hover,
#ftrnav1button a:hover,
#ftrnav5button a:hover,
#ftrnav2button a:hover  {
   font-style: oblique;
}

#ftrnav5button a,
#ftrnav2button a,
#ftrnav3button a,
#ftrnav1button a,
#ftrnav4button a  {
   font-style: Normal;
   display: block;
   width: 100%;
   text-decoration: none;
   color: #FFFFFF;
}

#joinusbutton a,
#donatebutton a,
#takeactionbutton a,
#helpfriendbutton a  {
   background-repeat: no-repeat;
   display: block;
   height: 26px;
   background-position: 0% 0px;
   font-size: 26px;
   line-height: 26px;
}

#don4button a,
#don1button a,
#don5button a,
#don2button a,
#don3button a  {
   background-repeat: no-repeat;
   display: block;
   height: 10px;
   background-position: 0% 0px;
   font-size: 10px;
   line-height: 10px;
}

#donate2text p,
#donate3text p,
#donate4text p,
#donatetext p  {
   font: 12px/16px Verdana;
   margin: 0px;
   text-align: left;
}

#womenshealthbutton a,
#comtboxbutton a,
#janabuttonbutton a  {
   background-repeat: no-repeat;
   display: block;
   height: 164px;
   background-position: 0% 0px;
   font-size: 164px;
   line-height: 164px;
}

#ftrnav3button,
#ftrnav5button,
#ftrnav2button  {
   font: 11px/16px Verdana;
   text-align: left;
   visibility: visible;
   position: absolute;
   left: 352px;
   z-index: 1;
   height: 11px;
}

#musictext p,
#col3text p,
#col1text p  {
   font: 11px Verdana;
   margin: 0px;
   color: #FFFFFF;
   text-align: left;
}

#donate3text,
#donate4text  {
   visibility: visible;
   position: absolute;
   left: 511px;
   z-index: 3;
   width: 402px;
}

#womenshealthbutton a  {
   width: 324px;
   background-image: url(mergedmedia/curtchristie.png);
}

#helpfriendbutton a  {
   width: 259px;
   background-image: url(mergedmedia/helpfriendbutton.png);
}

#takeactionbutton a  {
   width: 235px;
   background-image: url(mergedmedia/takeactionbutton.png);
}

#janabuttonbutton a  {
   width: 324px;
   background-image: url(mergedmedia/janabuttonbutton.png);
}

#comtboxbutton a  {
   width: 164px;
   background-image: url(mergedmedia/comtboxbutton.png);
}

#merged,
#donate  {
   margin: 0px auto 0px auto;
   width: 1006px;
   position: relative;
}

#joinusbutton a  {
   width: 131px;
   background-image: url(mergedmedia/joinusbutton.png);
}

#donatebutton a  {
   width: 144px;
   background-image: url(mergedmedia/donatebutton.png);
}

#ftrnav1button  {
   font: 11px/16px Verdana;
   text-align: left;
   visibility: visible;
   position: absolute;
   left: 352px;
   top: 960px;
   z-index: 1;
   width: 55px;
   height: 9px;
}

#ftrnav4button  {
   font: 11px/16px Verdana;
   text-align: left;
   visibility: visible;
   position: absolute;
   left: 352px;
   top: 1020px;
   z-index: 1;
   width: 80px;
   height: 8px;
}

#ftrnav2button  {
   width: 152px;
   top: 981px;
}

#ftrnav3button  {
   width: 112px;
   top: 1000px;
}

#ftrnav5button  {
   width: 118px;
   top: 100px;
   padding-top:10px;
}

#don5button a  {
   width: 247px;
   background-image: url(donatemedia/don5button.png);
}

#don4button a  {
   width: 104px;
   background-image: url(donatemedia/don4button.png);
}

#don1button a  {
   width: 178px;
   background-image: url(donatemedia/don1button.png);
}

#don2button a  {
   width: 283px;
   background-image: url(donatemedia/don2button.png);
}

#don3button a  {
   width: 94px;
   background-image: url(donatemedia/don3button.png);
}

#musictext p  {
   line-height: 13px;
}

#donate3text  {
   top: 317px;
}

#footerblock  {
   background: url(donatemedia/footerblock.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 358px;
   top: 994px;
   z-index: 1;
   width: 289px;
   height: 62px;
}

#donate4text  {
   top: 547px;
}

#subcoltitle  {
   background: url(donatemedia/subcoltitle.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 589px;
   top: 1035px;
   z-index: 3;
   width: 224px;
   height: 14px;
}

#subcoltitle a {
   background: url(donatemedia/subcoltitle.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 589px;
   top: 935px;
   z-index: 3;
   width: 224px;
   height: 14px;
}

#statictext  {
   background: url(donatemedia/statictext.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 29px;
   top: 0px;
   z-index: 3;
   width: 948px;
   height: 215px;
}

#col3text p  {
   line-height: 13px;
}

#col1text p  {
   line-height: 13px;
}

#musictext  {
	visibility: visible;
	position: absolute;
	left: 593px;
	top: 1053px;
	z-index: 3;
	width: 383px;
}

#col2title  {
   background: url(donatemedia/col2title.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 348px;
   top: 930px;
   z-index: 1;
   width: 152px;
   height: 17px;
}

#col3title  {
   background: url(donatemedia/col3title.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 589px;
   top: 930px;
   z-index: 1;
   width: 160px;
   height: 17px;
}

#col1title  {
   background: url(donatemedia/col1title.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 28px;
   top: 930px;
   z-index: 1;
   width: 109px;
   height: 17px;
}

#col1text  {
   visibility: visible;
   position: absolute;
   left: 33px;
   top: 962px;
   z-index: 1;
   width: 257px;
}

#col3text  {
   visibility: visible;
   position: absolute;
   left: 593px;
   top:962px;
   z-index: 2;
   width: 383px;
}

#glow  {
   background: url(donatemedia/glow.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 0px;
   top: 232px;
   z-index: 1;
   width: 1006px;
   height: 582px;
}

html, body  {
   padding: 0px;
   margin: 0px;
   background: #FFFFFF url(donatemedia/exteriortile.png) center top repeat-x;
   background-color:#111;
}

.credits{
position: absolute;
    top: 1110px;
    left: 410px;
    margin-top: auto;
	z-index:3;

}

#subtitles {
	position: absolute;
	top:635px;
	color: white; 
	width: 610px;
	left:38px;
	font: 11.5px Verdana;
	z-index:4;
	
	}
	
	#subtitles a {
		color: white;
		}

	#subtitles a:hover {
		text-decoration:underline;
		}

.cta-button {
  position: absolute;
  display:block;
  width:176px;
  height:40px;
  background:url(http://502mediagroup.com/credits/janas.png) no-repeat 0 -40px;
  margin-top:20px;
  padding-bottom:10px;
}
.cta-button a {
  display:block;
  width:100%;
  height:100%;
  background:url(http://502mediagroup.com/credits/janas.png) no-repeat 0 0;
  text-indent:-9999px;
}
.cta-button a:hover {
  background-position: 0 40px;
}

#viewit a:hover {
   background-position: -308px 0%;
}
#viewit a {
background-repeat: no-repeat;
   display: block;
   height: 108px;
   background-position: 0% 0px;
   width: 308px;
   background-image: url(mergedmedia/viewit.png);
}

#viewit {
	visibility: visible;
   position: absolute;
   left: 40px;
   top: 0px;
   z-index: 4;
   width: 308px;
   height: 108px;
   }
   
#shareit a:hover {
   background-position: -308px 0%;
}
#shareit a {
background-repeat: no-repeat;
   display: block;
   height: 108px;
   background-position: 0% 0px;
   width: 308px;
   background-image: url(mergedmedia/shareit.png);
}

#shareit {
	visibility: visible;
   position: absolute;
   left: 360px;
   top: 0px;
   z-index: 4;
   width: 308px;
   height: 108px;
   }
   
#liveit a:hover {
   background-position: -308px 0%;
}
#liveit a {
background-repeat: no-repeat;
   display: block;
   height: 108px;
   background-position: 0% 0px;
   width: 308px;
   background-image: url(mergedmedia/liveit.png);
}

#liveit {
	visibility: visible;
   position: absolute;
   left: 680px;
   top: 0px;
   z-index: 4;
   width: 308px;
   height: 108px;
   }
   
