#janasitebutton a:hover  {
   background-position: -137px 0%;
}

#donateppbutton a:hover  {
   background-position: -399px 0%;
}

#donate3text p a:hover  {
   font-style: italic;
}

#don4button a:hover  {
   background-position: -104px 0%;
}

#don3button a:hover  {
   background-position: -94px 0%;
}

#don2button a:hover  {
   background-position: -283px 0%;
}

#don1button a:hover  {
   background-position: -178px 0%;
}

#don5button a:hover  {
   background-position: -247px 0%;
}

#janasitebutton a  {
   background: url(donatemedia/janasitebutton.png) no-repeat 0% 0px;
   display: block;
   height: 75px;
   width: 137px;
   font-size: 75px;
   line-height: 75px;
}

#donateppbutton a  {
   background: url(donatemedia/donateppbutton.png) no-repeat 0% 0px;
   display: block;
   height: 59px;
   width: 399px;
   font-size: 59px;
   line-height: 59px;
}

#donate3text p a  {
   font-style: Normal;
   text-decoration: none;
}

#janasitebutton  {
   visibility: visible;
   position: absolute;
   left: 769px;
   top: 611px;
   z-index: 4;
   width: 137px;
   height: 75px;
}

#donateppbutton  {
   visibility: visible;
   position: absolute;
   left: 512px;
   top: 702px;
   z-index: 3;
   width: 399px;
   height: 59px;
}

#donate2text  {
   visibility: visible;
   position: absolute;
   left: 93px;
   top: 426px;
   z-index: 4;
   width: 400px;
}

#donatetext  {
   visibility: visible;
   position: absolute;
   left: 93px;
   top: 317px;
   z-index: 3;
   width: 400px;
}

#don3button  {
   visibility: visible;
   position: absolute;
   left: 92px;
   top: 716px;
   z-index: 3;
   width: 94px;
   height: 10px;
}

#don1button  {
   visibility: visible;
   position: absolute;
   left: 92px;
   top: 683px;
   z-index: 3;
   width: 178px;
   height: 10px;
}

#don2button  {
   visibility: visible;
   position: absolute;
   left: 92px;
   top: 699px;
   z-index: 3;
   width: 283px;
   height: 10px;
}

#don4button  {
   visibility: visible;
   position: absolute;
   left: 92px;
   top: 732px;
   z-index: 3;
   width: 104px;
   height: 10px;
}

#don5button  {
   visibility: visible;
   position: absolute;
   left: 92px;
   top: 748px;
   z-index: 3;
   width: 247px;
   height: 10px;
}

#pagebg  {
   background: url(donatemedia/pagebg.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 23px;
   top: 252px;
   z-index: 2;
   width: 960px;
   height: 543px;
}

