#womenshealthbutton a:hover,
#comtboxbutton a:hover  {
   background-position: -324px 0%;
}

#facebooksharebutton a:hover  {
   background-position: -103px 0%;
}

#loverespectbutton a:hover  {
   background-position: -269px 0%;
}

#janabuttonbutton a:hover  {
   background-position: -324px 0%;
}

#takeactionbutton a:hover  {
   background-position: -235px 0%;
}

#helpfriendbutton a:hover  {
   background-position: -259px 0%;
}

#hotlinebutton a:hover  {
   background-position: -294px 0%;
}

#facebooksharebutton a  {
   background: url(mergedmedia/facebooksharebutton.png) no-repeat 0% 0px;
   display: block;
   height: 34px;
   width: 103px;
   font-size: 34px;
   line-height: 34px;
}

#donatebutton a:hover  {
   background-position: -144px 0%;
}

#joinusbutton a:hover  {
   background-position: -131px 0%;
}

#facebooksharebutton  {
   visibility: visible;
   position: absolute;
   left: 661px;
   top: 576px;
   z-index: 5;
   width: 103px;
   height: 34px;
}

#youtube  {
 
   visibility: visible;
   position: absolute;
   left: 36px;
   top: 254px;
   z-index: 10;
   width: 641px;
   height: 400px;
}

#loverespectbutton a  {
   background: url(mergedmedia/loverespectbutton.png) no-repeat 0% 0px;
   display: block;
   height: 114px;
   width: 269px;
   font-size: 114px;
   line-height: 114px;
}

#womenshealthbutton  {
   visibility: visible;
   position: absolute;
   left: 341px;
   top: 723px;
   z-index: 3;
   width: 324px;
   height: 164px;
}

#loverespectbutton  {
   visibility: visible;
   position: absolute;
   left: 687px;
   top: 615px;
   z-index: 3;
   width: 269px;
   height: 114px;
}

#takeactionbutton  {
   visibility: visible;
   position: absolute;
   left: 683px;
   top: 411px;
   z-index: 4;
   width: 235px;
   height: 26px;
}

#helpfriendbutton  {
   visibility: visible;
   position: absolute;
   left: 684px;
   top: 361px;
   z-index: 4;
   width: 259px;
   height: 26px;
}

#janabuttonbutton  {
   visibility: visible;
   position: absolute;
   left: 21px;
   top: 723px;
   z-index: 2;
   width: 324px;
   height: 164px;
}

#hotlinebutton a  {
   background: url(mergedmedia/hotlinebutton.png) no-repeat 0% 0px;
   display: block;
   height: 48px;
   width: 294px;
   font-size: 48px;
   line-height: 48px;
}

#hotlinebutton  {
   visibility: visible;
   position: absolute;
   left: 684px;
   top: 749px;
   z-index: 2;
   width: 294px;
   height: 48px;
}

#comtboxbutton  {
   visibility: visible;
   position: absolute;
   left: 501px;
   top: 643px;
   z-index: 4;
   width: 164px;
   height: 164px;
}

#donatebutton  {
   visibility: visible;
   position: absolute;
   left: 684px;
   top: 461px;
   z-index: 4;
   width: 144px;
   height: 26px;
}

#joinusbutton  {
   visibility: visible;
   position: absolute;
   left: 683px;
   top: 511px;
   z-index: 4;
   width: 131px;
   height: 26px;
}

#sidebar  {
   background: url(mergedmedia/sidebar.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 533px;
   top: 287px;
   z-index: 3;
   width: 473px;
   height: 309px;
}

#shape4  {
   background: url(mergedmedia/shape4.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 568px;
   top: 533px;
   z-index: 2;
   width: 209px;
   height: 89px;
}

#video  {
   background: url(mergedmedia/video.png) no-repeat;
   visibility: visible;
   position: absolute;
   left: 23px;
   top: 242px;
   z-index: 4;
   width: 641px;
   height: 400px;
}

#tweet  {
 visibility: visible;
   position: absolute;
   left: 650px;
   top: 652px;
   z-index: 4;
 }